@font-face {
    font-family: Toyota Display; /* Гарнитура шрифта */
    src: url(fonts/toyota_display.ttf); /* Путь к файлу со шрифтом */
   }

body{

	font-family: Toyota Display;
}

h2 {
	font-size: 36px;
	color: #434343;
	padding: 30px 5px;
}

.wrapper {
	max-width: 1000px;

}
.navbar-header button{
	border:0px;
}

.navbar-header img {
	display: none;
}
.log-block {
	margin-top: 50px;
	height: 95px;
	-webkit-box-shadow: 0 4px 2px -2px gray;
	-moz-box-shadow: 0 4px 2px -2px gray;
	box-shadow: 0 4px 2px -2px gray;
}

.log-block img{
	float: left;
	width: 244px;
	padding: 23px 0px;
	
}


.log-block .col-lg-8 p{
	display: block;
	float: left;
	width: 206px;
	font-size: 17px;
	color: #4d535e;
	padding-top: 18px;
	padding-left: 10px;
	height: 95px;
}

.log-block p.phone-call {
	display: none;
}


.log-block .col-lg-4 p{
	color: #656972;
	font-size: 14px;
	margin-top: 13px;
}

.bg-l {
	width: 50%;
	float: left;
	height: 516px;
	background: url(../img/bg-l.jpg);
	background-position: left;
}


.btn-my-call {
	border-radius: 0px;
	color: #3b3b3b;
	padding: 0px 30px;
	line-height: 35px;
	font-weight: bold;
	background-color: #ffb83b;
}


.navbar {
	background-color: #545a65;
	background-image: linear-gradient(-45deg, #5b616c 50%, #545a65 50%);
}
.navbar-nav {
	float: none;
	width: 100%;
	margin: 0 auto;
	display: block;
}
.navbar-nav li{
	
	margin-left: 15px;
}
.navbar-nav  li a{
	color: #fff !important;
	font-size: 16px;
}

.navbar-nav  li a:hover{
	color: #bbc0c8 !important;
}
.phone-call{
	font-size: 24px;
	color: #bbc0c8;
	line-height: 50px;
}

.phone-call span{
	color: #f4b408;
} 



/*Carousel*/

/*.bg-r {
	width: 50%;
	float: right;
	height: 516px;
	background: url(../img/bg-r.jpg);
	background-position: left;
}

.bg-c {
	background: url(../img/center-bg.jpg);	
	height: 516px;
	margin-top: -516px;
	position: absolute;

}*/

.bg-top {
	height: 516px;
	background: url(../img/center-bg.jpg);	
}

.block-name-slide {
	font-family: Toyota Display;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 52px;
	font-size: 36px;

}

.block-name-slide span {
	color: #ffdc3b;
	text-transform: uppercase;
}

.carousel-top  img{
	float: left;
	padding: 20px 20px 20px 0px;
	/*border: 1px solid red;*/
	max-width: 430px;
}

.carousel-top h1 {
	padding-left: 40px;
	padding-right: 40px;
	z-index: 990;
	position: relative;
}


.carousel-top  .block-right-slide{
	/*background: rgba(96, 125, 177, 0.8);*/
	padding: 40px 34px;
	/*margin-top: -180px;*/
	/*border:1px solid red;*/
	color: #121212;
	font-size: 24px;
}

.block-img-slide {
	margin-left: -20px;
}


.btn-border{
	border: 4px solid #ffc53b;
	background: transparent;
	box-shadow: none;
	color:#fff;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 6px 30px;
	text-shadow: none;
	outline: none;
	box-shadow: none;
	margin-top: 30px;

}


.btn-border:hover,.btn-border:active, .btn-border:visited {
	border: 4px solid #ffd675;
	color:#fff;
	text-shadow: none;
	outline: none;
	box-shadow: none;
	
/*	box-shadow: none;
	color:#fff;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 6px 30px;*/

}



.assorti .col-sm-4, .assorti .col-sm-6{
	padding: 0px;
}

.assorti .assorti-1 img {
	width: 100%;
}

.assorti .assorti-2 img {
	width: 100%;
}
	


.btn-assorti {
	background-color: #f1f2f3;
	padding: 20px 0px !important;
	width: 100% !important;
	margin: 0px !important;

}


.catalog-btn {
	padding: 8px 20px;
	color: #3b3b3b;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(to top, #ffb83b 0% , #ffca3b 80%);
	font-weight: bold;
	border:none;
	outline: none;
	margin: 5px;

}

.catalog-btn:hover {
	background: linear-gradient(to top, #ffca3b 0% , #ffb83b 80%);
}


.call-us-btn {
	padding: 8px 20px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(to top, #458bb3 0% , #69c0f2  80%);
	font-weight: bold;
	border:none;
	outline: none;
	margin: 5px;

}

.call-us-btn:hover {
	background: linear-gradient(to top, #69c0f2 0% , #458bb3  80%);
}

/*Filter block*/

.filter-block {
	background-color: #e3f0f8;
	padding: 0px;
}
.filter-block h3 {
	background-color: #cde2ef;
	padding: 10px ;
	color: #303030;
	font-size: 24px;

}

.filter-block  .filter-in {
	padding: 5px 50px 15px 50px !important;
	border-bottom: 1px solid #fff;
}
.filter-block  .filter-in.filter-scroll {
	margin-bottom: 20px;
	border-bottom: 0px;
	margin-top: 5px;
}
.filter-block label {
	color: #303030!important;
  font-weight: bold !important;
  font-size: 18px !important;


}
#amount, #amount2 {
  color: #303030!important;
  font-weight: bold !important;
  font-size: 18px !important;
  background: none !important;

  }



.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
	 background: #b6c7d1 !important;
	 height: 2px !important;
	 margin-top: 10px !important;

}

.ui-slider-handle.ui-state-default.ui-corner-all {
	 background: #b6c7d1 !important;
	/* height: 2px !important;*/
	 margin-top: 10px !important;
	 background: url(../img/polsun.png) !important;
	 height: 20px !important;
	 width: 20px !important;
	 border-radius: 0px !important;
	 padding: 0px !important;
	 outline: none  !important;
	 border: 1px !important;
	 top: -20px;
	 cursor: pointer;
}


.arrow-filter {
	background: url(../img/arrow_filter.png) no-repeat !important;	
	height: 20px;
	width: 30px;
}

/*Netbook version*/
@media (min-width: 761px) and (max-width: 1199px){
	.log-block {
		margin-top: 100px;
	}

}


/*Netbook version2*/
@media (min-width: 768px) and (max-width: 992px){
	.log-block {
		margin-top: 100px;
	}
	.block-name-slide-block .block-name-slide {
		font-size: 24px;
		margin: 0px;
		padding: 30px 20px 30px 20px;

	}
	.block-right-slide  p{
		padding: 0px;
		margin: 0px;
		font-size: 18px;

	}
	.block-image-slide img{
		margin: 0 auto;
		padding: 0px;
		float: none;
		width: 45%;

	}

	.slick-next, .slick-prev {
		width: 66px !important;
    	height: 66px !important;
    	margin-top: -33px !important;
    	background-size: 66px;
    	background-position: center center;
    	background-repeat: none;
	}

	.slick-next {
    	right: 10px !important;
	}

	.slick-prev {
    	left: 0px !important;

	}
	
	.assorti .col-sm-4, .assorti .col-sm-6{
		margin: 0px;
		padding: 0px;
	}

	.assorti .assorti-1 img {
		width: 100%;
	}

	.assorti .assorti-2 img {
		width: 100%;
	}
	

}



/*Tablet version*/
@media (min-width: 750px) and (max-width: 970px){

	.log-block .col-lg-4 p{
		display: none;
	}
	.log-block .col-lg-4 button{
		margin-top: 30px;
	}

}



/*Mobile version*/

@media (max-width: 768px) {
	/*Header*/
	.navbar-nav .phone-call{
		display: none;
	}
	.log-block img, .log-block .col-lg-8 p, .log-block .col-lg-4{
		display: none;
	}

	.log-block p.phone-call {
		display: block;
		font-size: 24px;
		text-align: center;
		width: 100%;
		line-height: 65px;
		height: 65px;
		padding: 0px;
	}

	.log-block {
		height: 65px;
		margin-top: 50px;
	}


	.navbar {
	-webkit-box-shadow: 0 4px 2px -2px gray;
	-moz-box-shadow: 0 4px 2px -2px gray;
	box-shadow: 0 4px 2px -2px gray;
	}

	.navbar-header img {
	display: block;
	height: 28px;
	margin: 10px 0px 0px 10px;
	float: left;
	}

	.navbar-nav li{	
	margin-left: 0px;
	}


	.block-name-slide-block .block-name-slide {
		font-size: 24px;
		margin: 0px;
		padding: 30px 20px 30px 20px;

	}
	.block-right-slide  p{
		padding: 0px;
		margin: 0px;
		font-size: 18px;

	}

	.block-right-slide .btn {
		margin-top: 10px;
	}

	.block-image-slide img{
		margin: 0 auto;
		padding: 0px;
		float: none;
		width: 55%;

	}

	.slick-next, .slick-prev {
		width: 66px !important;
    	height: 66px !important;
    	margin-top: -33px !important;
    	background-size: 66px;
    	background-position: center center;
    	background-repeat: none;
	}

	.slick-next {
    	right: 10px !important;
	}

	.slick-prev {
    	left: 0px !important;

	}

	.assorti .col-sm-4, .assorti .col-sm-6{
		margin: 0px;
		padding: 0px;
	}

	.assorti .assorti-1 img {
		width: 100%;
	}

	.assorti .assorti-2 img {
		width: 100%;
	}

	
	
	
}